[submodule "Weaving Cognitive Services, Azure Services, and Bots to Provide Next-Generation Intelligence\\source"]
	path = Weaving Cognitive Services, Azure Services, and Bots to Provide Next-Generation Intelligence\\source
	url = https://github.com/noodlefrenzy/CognitiveServicesTutorial.git
